
#home{
    background-image: url('../images/hero-image.jpg');
    height: 50vh;
    width: 100%;
  /* background-position: 25% 0%;*/
}

.code{

    width: 5%;
}

hr.new4 {
    border: 1px solid #E74C3C;
    width:8%;
  }

  

  #get-involved{
      background-color: #F5F5F5;
  }

  .card{
    background-color: #F5F5F5;
    border: 0px solid rgba(0,0,0,.125)
}



.bout{

    color:#E74C3C;
    /* background-color: #007bff; */
    border-color: rgba(0,0,0,.9);
}

i{
    font-size: 6vh;
}


.bgorange{
    background-color: #E74C3C;

}