
#home{
    background-image: url('../images/hero-image.jpg');
    height: 50vh;
    width: 100%;
  /* background-position: 25% 0%;*/
}

.code{

    width: 5%;
}

hr.new4 {
    border: 1px solid rgb(255, 136, 0);
    width:8%;
  }
  